@font-face{
    font-family: 'Aileron';
    src: url('Aileron-Regular.otf');
}

@font-face{
    font-family: 'Aileron-Bold';
    src: url('Aileron-Bold.otf');
}



.table-view .column-header .label{
    -fx-font-size: 20px;
    -fx-font-family: "Aileron-Bold";



}
.root {
    -fx-font-family: sans-sarif;
    -fx-font: 15px "Aileron";

}